In [1]:
import pandas as pd
import numpy as np
import glob

In [3]:
all_data = pd.DataFrame()
for f in glob.glob("C:/Users/TaoZe/Downloads/*.xlsx"):
    df = pd.read_excel(f)
    all_data = all_data.append(df,ignore_index=True)

all_data.describe()

            标准工时       加班工时  Unnamed: 10
count  12.000000  10.000000          0.0
mean    4.000000   2.400000          NaN
std     3.437758   2.674987          NaN
min     0.000000   0.000000          NaN
25%     0.000000   0.250000          NaN
50%     4.000000   2.000000          NaN
75%     8.000000   2.750000          NaN
max     8.000000   8.000000          NaN

In [6]:
all_data['日期'] = pd.to_datetime(all_data['日期'])

In [13]:
all_data

,日期,星期,姓名,部门名称,项目编号,项目名称,工作内容,标准工时,加班工时,工号,Unnamed: 10,填报有效与否
0,2017-06-16,Friday,张三,景观规划/一室,GHY905,气象灾害,无,8.0,0.0,T20160001,NaN,False
1,2017-06-17,Saturday,张三,景观规划/一室,NaN,NaN,NaN,0.0,NaN,T20160001,NaN,False
2,2017-06-18,Sunday,张三,景观规划/一室,GHY170001,和田昆仑湖公园,草案,0.0,8.0,T20160001,NaN,False
3,2017-06-19,Monday,张三,景观规划/一室,GHY170001,和田昆仑湖公园,方案,5.0,2.0,T20160001,NaN,False
4,2017-06-19,Monday,张三,景观规划/一室,GHY170003,昆明五华,总图绘制等,3.0,0.0,T20160001,NaN,False
5,2017-06-20,Tuesday,张三,景观规划/一室,GHY170012,河南未名,地形分析,8.0,3.0,T20160001,NaN,False
6,NaT,<-填写日期,张三,景观规划/一室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
7,NaT,<-填写日期,张三,景观规划/一室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
8,NaT,<-填写日期,张三,景观规划/一室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
9,NaT,<-填写日期,张三,景观规划/一室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
10,NaT,<-填写日期,张三,景观规划/一室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
11,NaT,<-填写日期,张三,景观规划/一室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
12,NaT,<-填写日期,张三,景观规划/一室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
13,NaT,<-填写日期,张三,景观规划/一室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
14,NaT,<-填写日期,张三,景观规划/一室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
15,NaT,<-填写日期,张三,景观规划/一室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
16,NaT,<-填写日期,张三,景观规划/一室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
17,NaT,<-填写日期,张三,景观规划/一室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
18,NaT,<-填写日期,张三,景观规划/一室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
19,NaT,<-填写日期,张三,景观规划/一室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
20,NaT,<-填写日期,张三,景观规划/一室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
21,NaT,<-填写日期,张三,景观规划/一室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
22,NaT,<-填写日期,张三,景观规划/一室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
23,2017-06-16,Friday,李四,城市规划/总体规划室,GHY905,气象灾害,无,8.0,0.0,T20160001,NaN,False
24,2017-06-17,Saturday,李四,城市规划/总体规划室,NaN,NaN,NaN,0.0,NaN,T20160001,NaN,False
25,2017-06-18,Sunday,李四,城市规划/总体规划室,GHY170001,和田昆仑湖公园,总体规划,0.0,6.0,T20160001,NaN,False
26,2017-06-19,Monday,李四,城市规划/总体规划室,GHY170001,和田昆仑湖公园,项目库,4.0,1.0,T20160001,NaN,False
27,2017-06-19,Monday,李四,城市规划/总体规划室,GHY170003,昆明五华,项目库,4.0,2.0,T20160001,NaN,False
28,2017-06-20,Tuesday,李四,城市规划/总体规划室,GHY170012,河南未名,尚未规划整理,8.0,2.0,T20160001,NaN,False
29,NaT,<-填写日期,李四,城市规划/总体规划室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
30,NaT,<-填写日期,李四,城市规划/总体规划室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
31,NaT,<-填写日期,李四,城市规划/总体规划室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
32,NaT,<-填写日期,李四,城市规划/总体规划室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
33,NaT,<-填写日期,李四,城市规划/总体规划室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
34,NaT,<-填写日期,李四,城市规划/总体规划室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
35,NaT,<-填写日期,李四,城市规划/总体规划室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
36,NaT,<-填写日期,李四,城市规划/总体规划室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
37,NaT,<-填写日期,李四,城市规划/总体规划室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
38,NaT,<-填写日期,李四,城市规划/总体规划室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
39,NaT,<-填写日期,李四,城市规划/总体规划室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
40,NaT,<-填写日期,李四,城市规划/总体规划室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
41,NaT,<-填写日期,李四,城市规划/总体规划室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
42,NaT,<-填写日期,李四,城市规划/总体规划室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
43,NaT,<-填写日期,李四,城市规划/总体规划室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
44,NaT,<-填写日期,李四,城市规划/总体规划室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False
45,NaT,<-填写日期,李四,城市规划/总体规划室,NaN,NaN,NaN,NaN,NaN,T20160001,NaN,False

### A 指定的一个项目中有哪些部门的哪些人参与？

In [15]:
all_data.groupby(["项目编号"])["部门名称","姓名"].count()

            部门名称  姓名
项目编号
GHY170001      4   4
GHY170003      2   2
GHY170012      2   2
GHY905         2   2

In [12]:
all_data.groupby(["姓名"])["标准工时"].agg(np.sum)

姓名
张三    24.0
李四    24.0
Name: 标准工时, dtype: float64

### C1 C2指定项目的总工时

In [25]:
# df1.loc[lambda df: df.A > 0, :]
project = all_data.loc[lambda df: df["项目名称"]=="和田昆仑湖公园"]
pt_s = project["标准工时"].sum()
pt_o = project["加班工时"].sum()
print(pt_s)
print(pt_o)
print(pt_s+pt_o)

9.0
17.0
26.0